@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  font-family: "Quicksand";
  color: #333;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  background: rgb(240, 240, 240);
}

.navbar {
  box-shadow: 5px 5px 10px 2px rgb(104, 104, 104, 0.6);
}
.navbar h1 {
  margin-left: 20px;
  color: rgb(82, 82, 82);
}

.content {
  text-align: center;
}

.content h3 {
  margin: 100px 0;
  color: #f1356d;
}

.field {
  display: grid;
  place-items: center;
}

label {
  font-size: 1.1em;
}

input {
  max-width: 1100px;
  text-align: center;
}
